[Unit]
Description=macrodevice-lua

[Service]
Type=simple
ExecStart=/usr/bin/macrodevice-lua -c /path/to/your/config.lua

[Install]
WantedBy=default.target

